# =========================
# BUILD
# =========================
bin/
obj/

# =========================
# VISUAL STUDIO / IDE
# =========================
.vs/
.vscode/
.idea/

*.user
*.suo
*.userosscache
*.sln.docstates

# =========================
# LOGS
# =========================
*.log

# =========================
# OS FILES
# =========================
.DS_Store
Thumbs.db

# =========================
# ASP.NET CONFIG
# =========================
appsettings.Development.json

# =========================
# USER UPLOAD FILES
# =========================
wwwroot/uploads/*
!wwwroot/uploads/.gitkeep

# =========================
# PUBLISH
# =========================
publish/
out/

# =========================
# CACHE / TEMP
# =========================
*.cache
*.pdb
*.tmp
*.temp